# Working with SQLite

* SQLite needs no sever

## Import libraries

In [3]:
# import SQL lite

import sqlite3
from sqlite3 import Error

In [4]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occured")
        
    return connection

In [5]:
# Create a connection with 
connection = create_connection("C:/Users/joshua.obeng/Documents/Learning/Personal/sm_app.sqlite")

Connection to SQLite DB successful

In [6]:
# Create a function that will help run the query
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occured")

In [7]:
# Create tables
create_users_table = """
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    gender TEXT,
    nationality TEXT
);

"""

In [8]:
# Execute the table using the query function
execute_query(connection, create_users_table)

Query executed successfully

In [9]:
# Query to create posts table
create_posts_table = """
CREATE TABLE IF NOT EXISTS posts (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    description TEXT NOT NULL,
    user_id INTEGER NOT NULL, 
    FOREIGN KEY (user_id) REFERENCES users (id)
);
"""

In [10]:
execute_query(connection, create_posts_table)

Query executed successfully

In [11]:
# Creating and running tables for both comments table and likes table
# create tables
create_comments_table = """
CREATE TABLE IF NOT EXISTS comments (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    user_id INTEGER NOT NULL, 
    post_id INTEGER NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

create_likes_table = """
CREATE TABLE IF NOT EXISTS likes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER NOT NULL, 
    post_id INTEGER NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

# execute queries
execute_query(connection, create_comments_table)
execute_query(connection, create_likes_table)

Query executed successfully
Query executed successfully

## Insert records

In [12]:
# Create records for users
create_users = """
INSERT INTO
    users (name, age, gender, nationality)
VALUES
    ('James',25,'male','USA'),
    ('Leila',32,'female','France'),
    ('Brigitte',35,'female','England'),
    ('Mike',40,'male','Denmark'),
    ('Elizabeth',21,'female','Canada')
"""

execute_query(connection, create_users)

Query executed successfully

In [13]:
# Create records for posts
create_posts = """
INSERT INTO
    posts (title, description, user_id)
VALUES
    ('Happy','I am feeling very happy today',1),
    ('Hot Weather','The weather is very hot today',2),
    ('Help','I need some help with my work',2),
    ('Great News','I am getting married',1),
    ('Interesting Game','It was a fantastic game of tennis',5),
    ('Party','Anyone up for a late-night party today?',3);
"""

execute_query(connection, create_posts)

Query executed successfully

In [14]:
# Create records for comments and likes

create_comments = """
INSERT INTO
  comments (title, user_id, post_id)
VALUES
  ('Count me in', 1, 6),
  ('What sort of help?', 5, 3),
  ('Congrats buddy', 2, 4),
  ('I was rooting for Nadal though', 4, 5),
  ('Help with your thesis?', 2, 3),
  ('Many congratulations', 5, 4);
"""

create_likes = """
INSERT INTO
  likes (user_id, post_id)
VALUES
  (1, 6),
  (2, 3),
  (1, 5),
  (5, 4),
  (2, 4),
  (4, 2),
  (3, 6);
"""

execute_query(connection, create_comments)
execute_query(connection, create_likes)

Query executed successfully
Query executed successfully

## Selecting records

In [15]:
# define a function to execute the queries
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occured ")

In [16]:
select_users = "SELECT * FROM users"
users = execute_read_query(connection, select_users)

for user in users:
    print(user)

(1, 'James', 25, 'male', 'USA')
(2, 'Leila', 32, 'female', 'France')
(3, 'Brigitte', 35, 'female', 'England')
(4, 'Mike', 40, 'male', 'Denmark')
(5, 'Elizabeth', 21, 'female', 'Canada')
(6, 'James', 25, 'male', 'USA')
(7, 'Leila', 32, 'female', 'France')
(8, 'Brigitte', 35, 'female', 'England')
(9, 'Mike', 40, 'male', 'Denmark')
(10, 'Elizabeth', 21, 'female', 'Canada')

In [21]:
distinct_ = "SELECT DISTINCT name  FROM users"
distinct = execute_read_query(connection, distinct_)
distinct

[('James',), ('Leila',), ('Brigitte',), ('Mike',), ('Elizabeth',)]

In [22]:
merge = """
SELECT users.id
      ,users.name
      ,posts.description
FROM posts
     INNER JOIN users ON posts.id = users.id
"""
merge_q = execute_read_query(connection, merge)
merge_q

[(1, 'James', 'I am feeling very happy today'),
 (2, 'Leila', 'The weather is very hot today'),
 (3, 'Brigitte', 'I need some help with my work'),
 (4, 'Mike', 'I am getting married'),
 (5, 'Elizabeth', 'It was a fantastic game of tennis'),
 (6, 'James', 'Anyone up for a late-night party today?'),
 (7, 'Leila', 'I am feeling very happy today'),
 (8, 'Brigitte', 'The weather is very hot today'),
 (9, 'Mike', 'I need some help with my work'),
 (10, 'Elizabeth', 'I am getting married')]